@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #activeRememberMe:checked ~ div {
    @apply grid place-content-center border-none bg-white bg-gradient-to-br from-DayBlue via-Blue to-Green500  text-sm text-black !important;
  }
  .checkedBox {
    @apply border-none bg-primary-500 text-white !important;
  }
  aside.show {
    @apply z-10 opacity-100;
  }
  #dropDown.show {
    @apply z-10 h-[309px] border-2 border-border-color pt-4;
  }
  #cart.show {
    @apply z-20 translate-x-[-80%] max-md:translate-x-0 max-md:opacity-100;
  }
  #dropDown:has(#cart.show) {
    @apply overflow-visible;
  }
  #sideBar.show {
    @apply translate-y-0;
  }
  body:has(#sideBar.show, #cart.show) {
    @apply h-screen overflow-hidden;
  }
  body:has(#sideBar.show)::before {
    @apply z-[2] opacity-100;
  }
  .showPasswordIcon {
    @apply absolute right-3 top-[62%] -translate-y-1/2 cursor-pointer text-sm text-nobleDark300;
  }
  #product_view.show {
    @apply z-30 opacity-100;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-grey-700;
}

aside > div::-webkit-scrollbar,
#cart_products::-webkit-scrollbar {
  width: 3px;
}
aside > div::-webkit-scrollbar-thumb,
#cart_products::-webkit-scrollbar-thumb {
  @apply bg-grey-500;
}
