@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #activeRememberMe:checked ~ div,
  .checkedBox {
    @apply border-none bg-primary-500 text-white !important;
  }
  aside.show {
    @apply z-10 opacity-100;
  }
  #dropDown.show {
    @apply z-10 h-[248px] border-2 border-border-color pt-4;
  }
  #cart.show {
    @apply z-20 translate-x-[-80%] max-md:translate-x-0 max-md:opacity-100;
  }
  #dropDown:has(#cart.show) {
    @apply overflow-visible;
  }
  #sideBar.show {
    @apply translate-x-0;
  }
  .showPasswordIcon {
    @apply absolute right-3 top-[62%] -translate-y-1/2 cursor-pointer text-sm text-grey-500;
  }
  #settings.show,
  #car_view.show {
    @apply z-30 opacity-100;
  }
  #actions.show {
    @apply z-10  h-[180px] opacity-100;
  }
  #add_edit_car_modal.show {
    @apply h-[48%] w-[80%] p-7 max-md:h-full max-md:w-full;
  }
  /* Errors and warnings*/
  #save_confirmation.show,
  #password_changed.show,
  #same_passwords.show,
  #passwords_dont_match.show,
  #incorrect_password.show,
  #email_already_exists.show,
  #car_already_exists.show,
  #forgot_password_modal.show,
  #delete_car_modal.show {
    @apply z-10 opacity-100;
  }
  #settings li.active {
    @apply bg-black text-white shadow-[-5px_5px_8px_0px_#0005];
  }
  body:has(#settings.show) {
    @apply h-screen overflow-hidden;
  }
}
@media (max-width: 768px) {
  body:has(#sideBar.show, #cart.show, #car_view.show) {
    @apply h-screen overflow-hidden;
  }
  body:has(#sideBar.show)::before {
    @apply z-[2] opacity-100;
  }
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-grey-700;
}
aside > div::-webkit-scrollbar,
#cart_cars::-webkit-scrollbar {
  width: 3px;
}
aside > div::-webkit-scrollbar-thumb,
#cart_cars::-webkit-scrollbar-thumb {
  @apply bg-grey-500;
}
#settings ul::-webkit-scrollbar {
  display: none;
}
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  @apply h-1 rounded-full bg-grey-100;
}
/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  @apply -mt-2 h-4 w-4 appearance-none rounded-full bg-grey-700;
}
input[type="range"]:focus::-webkit-slider-thumb {
  @apply outline-2 outline-offset-[0.125] outline-primary-500;
}

@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

#signup_image {
  background-size: 200%;
  animation: pan-image 15s linear infinite;
}
