@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #activeRememberMe:checked ~ div {
    @apply grid place-content-center border-none bg-white bg-gradient-to-br from-DayBlue via-Blue to-Green500  text-sm text-black !important;
  }
  .checkedBox {
    @apply border-none bg-primary-500 text-white !important;
  }
  aside.show {
    @apply z-10 opacity-100;
  }
  #dropDown.show {
    @apply z-10 h-[309px] border-2 border-border-color pt-4;
  }
  #cart.show {
    @apply z-20 translate-x-[-80%] max-md:translate-x-0 max-md:opacity-100;
  }
  #dropDown:has(#cart.show) {
    @apply overflow-visible;
  }
  #sideBar.show {
    @apply translate-y-0;
  }
  .showPasswordIcon {
    @apply absolute right-3 top-[62%] -translate-y-1/2 cursor-pointer text-sm text-nobleDark300;
  }
  #car_view.show {
    @apply z-30 opacity-100 ;
  }
  #actions.show {
    @apply z-10  h-[180px] opacity-100;
  }
  #add_edit_car_modal.show {
    @apply h-[60%] w-[80%] p-7 max-md:h-full max-md:w-full;
  }
  #delete_car_modal.show {
    @apply z-10 opacity-100;
  }
}
@media (max-width: 768px) {
  body:has(#sideBar.show, #cart.show,#car_view.show) {
    @apply h-screen overflow-hidden;
  }
  body:has(#sideBar.show)::before {
    @apply z-[2] opacity-100;
  }
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-grey-700;
}
aside > div::-webkit-scrollbar,
#cart_cars::-webkit-scrollbar {
  width: 3px;
}
aside > div::-webkit-scrollbar-thumb,
#cart_cars::-webkit-scrollbar-thumb {
  @apply bg-grey-500;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  @apply h-1 rounded-full bg-grey-100;
}
/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  @apply -mt-2 h-4 w-4 appearance-none rounded-full bg-grey-700;
}
input[type="range"]:focus::-webkit-slider-thumb {
  @apply outline-2 outline-offset-[0.125] outline-primary-500;
}
